<%- include('partials/header') %>

<%- include('partials/nav') %>

    <h4>Área do professor</h4>

    <p>Seu saldo é: <%= teacherBalance %></p>

    <main class="container">
        <div style="margin-bottom: 10%">
            <h2>Estudantes</h2>
    
            <h4>Visualizar estudantes</h4>
            <table role="grid">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Moedas</th>
                        <th>Enviar Moedas</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(student=> { %>
                        <tr>
                            <td>
                                <%= student.cpf %>
                            </td>
                            <td>
                                <%= student.name %>
                            </td>
                            <td>
                                <%= student.address %>
                            </td>
                            <td>
                                <%= student.balance %>
                            </td>
                            <td>
                                <form action="/users/update/<%= student.cpf %>" method="POST">

                                    <input type="number" name="coins" placeholder="1" required>

                                    <button type="submit"><img src="../public/icons/send.png" alt="Enviar"></button>
                                
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

<%- include('partials/footer') %>
