<%- include('partials/header') %>
<%- include('partials/nav') %>

<h3>Área do professor</h3>

<div class="grid">
    <div class="centered-div">
        <p class="centered-text"> 
            <img src="../public/icons/coin.png" style="height: 30px;">
            <strong>Saldo: </strong> <%= teacherBalance %> moedas
        </p>
    </div>
</div>

<main class="container">
    <div style="margin-bottom: 10%">
        <h3>Estudantes</h3>

        <h4>Visualizar estudantes</h4>
        <table role="grid">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Moedas</th>
                    <th>Enviar Moedas</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach(student=> { %>
                    <tr>
                        <td>
                            <%= student.cpf %>
                        </td>
                        <td>
                            <%= student.name %>
                        </td>
                        <td>
                            <%= student.address %>
                        </td>
                        <td>
                            <%= student.balance %>
                        </td>
                        <td>
                            <form style="margin: 0; padding: 0; display: flex;" action="/users/update/<%= student.cpf %>" method="POST">
                                <input type="number" name="coins" placeholder="1" required style="flex: 6; margin-right: 5px;">
                                <button type="submit" style="flex: 1;"><img src="../public/icons/send.png" alt="Enviar"></button>
                            </form>
                        </td>                        
                    </tr>
                    <% }); %>
            </tbody>
        </table>

<style>
    .centered-div {
        background-color: #b7dfec;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 240px;
        border-radius: 8px;
    }

    .centered-text {
        text-align: center;
        margin: 0;
        color: black;
    }
</style>

<%- include('partials/footer') %>