<%- include('partials/header') %>

<p>Saldo: <strong><%= studentBalance %> Moedas</strong></p>

<h2>Benefícios disponíveis</h2>
<table role="grid">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Empresa parceira</th>
            <th>Preço</th>
            <th>Resgatar</th>
        </tr>
    </thead>
    <tbody>
        <% benefits.forEach(benefit => { %>
            <tr>
                <td><%= benefit.name %></td>
                <td><%= benefit.partner_id %></td>
                <td><%= benefit.price %></td>
                <td>
                    <form action="/benefits/update/<%= benefit.id %>" method="POST">
                        
                        <input type="hidden" name="benefitPrice" value="<%= benefit.price %>">
                        
                        <button type="submit"><img src="../public/icons/send.png" alt="Enviar"></button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('partials/footer') %>
