<%- include('partials/header') %>

<div class="grid">
    <div style="padding: 1rem;">
        <a href="/home" role="button"><img src="../../public/icons/home.png" style="max-height: 25px;"></a>
    </div>
</div>

<main class="container" ; style="padding-top: 1rem;">
    <h3>Benefícios oferecidos</h3>
    <table role="grid">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% benefits.forEach(benefit=> { %>
                <tr>
                    <td>
                        <%= benefit.id %>
                    </td>
                    <td>
                        <%= benefit.name %>
                    </td>
                    <td>
                        <%= benefit.price %> moedas
                    </td>
                    <td>
                        <%= benefit.description %>
                    </td>
                    <td>
                        <div style="display: flex;">
                            <!-- Excluir -->
                            <form action="/benefit/delete/<%= benefit.id %>" method="POST">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" style="width: 62px; height: 62px; margin: 0 0.5rem 0 0;">
                                    <img src="/public/icons/bin.png" alt="Excluir">
                                </button>
                            </form>
                            <!-- Editar -->
                            <button style="width: 62px; height: 62px; margin: 0 0.5rem 0 0;"
                                onclick="openModal('<%= benefit.id %>', '<%= benefit.name %>', '<%= benefit.price %>', '<%= benefit.description %>')">
                                <img src="/public/icons/edit.png" alt="Editar">
                            </button>
                        </div>

                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <h4>Adicionar benefício</h4>
    <form action="/benefit/add" method="POST">
        <div class="grid">
            <div>
                <label for="id">
                    ID
                    <input type="text" name="id" placeholder="Ex: '1'" required>
                </label>

                <label for="name">
                    Nome
                    <input type="text" name="name" placeholder="Ex: 'Fones de Ouvido Galaxy Ear Buds'" required>
                </label>
            </div>
            <div>
                <label for="price">
                    Preço (em moedas)
                    <input type="text" name="price" placeholder="Ex: '50'" required>
                </label>
                <label for="description">
                    Descrição
                    <input type="text" name="description" placeholder="Fones de ouvido práticos e compactos. "
                        required>
                </label>
            </div>
        </div>

        <button type="submit">Novo benefício</button>
    </form>

    <!-- Modal - Editar vantagem -->
    <div id="editModal" style="display: none;">
        <dialog open>
            <div style="width: 50%;">
                <h4>Editar vantagem</h4>
                <form action="/benefit/edit" method="POST">
                    <input type="hidden" id="edit-id" name="id">
                    <label for="edit-name">Nome</label>
                    <input type="text" id="edit-name" name="name">
                    <label for="edit-price">Preço</label>
                    <input type="text" id="edit-price" name="price">
                    <label for="edit-description">Descrição</label>
                    <input type="text" id="edit-description" name="description">

                    <button type="button" onclick="closeModal()"
                        style="background-color: transparent;">Cancelar
                    </button>
                    <button type="submit">Salvar</button>
                </form>
            </div>
        </dialog>
    </div>
</main>

<!-- Controle do modal -->
<script>
    // Recebe como parâmetro os atributos de benefit e os insere em cada campo do modal
    function openModal(id, name, price, description) {
        document.getElementById('edit-id').value = id;
        document.getElementById('edit-name').value = name;
        document.getElementById('edit-price').value = price;
        document.getElementById('edit-description').value = description;
        document.getElementById('editModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('editModal').style.display = 'none';
    }

</script>

<%- include('partials/footer') %>