<%- include('partials/header') %>

<header class="containter-fluid">
    <h1>Você resgatou: <%= benefit.name %></h1>
</header>

<main class="container-fluid">
    <div class="grid">

        <h3>Preço: R$ <%= benefit.price %></h3>

        <hr>

        <h3>Saldo Anterior: R$ <%= (Number(benefit.price) + (Number(balance[0].balance))) %></h3>

        <h1>Saldo Atual: R$ <%= (Number(balance[0].balance)) %></h1>

        <form action="/app/home" method="get">
            <button type="submit">Voltar</button>
        </form>
    </div>
</main>

<%- include('partials/footer') %>