<%- include('partials/header') %>

    <main class="container">
        <h3>Parabéns! Você resgatou <%= benefit.name %>
        </h3>

        <div>
            <div class="price-box">
                <p class="price"><strong>Preço: </strong>
                    <%= benefit.price %> moedas
                </p>
            </div>

            <div style="margin-top: 1rem;">
                <p>
                    <img src="/public/icons/coin.png" style="height: 30px;">
                    <strong>Saldo anterior: </strong>
                    <%= (Number(balance[0].balance)) %> moedas
                </p>
    
                <p>
                    <img src="/public/icons/coin.png" style="height: 30px;">
                    <strong>Saldo atual: </strong>
                    <%= (Number(balance[0].balance)) - (Number(benefit.price)) %> moedas
                </p>
    
                <div style="display: flex; justify-content: end;">
                    <form action="/app/home" method="get">
                        <button type="submit" style="width: 120px;">Voltar</button>
                    </form>
                </div>
            </div>          
        </div>
    </main>

    <style>
        .price-box {
            background-color: #1095C1;
            border-radius: 5px;
            width: 240px;
            margin: 0.5rem 0;
        }

        .price {
            margin: 0 0 0 0.5rem;
            padding: 0.5rem;
            color: #11191F;
        }
    </style>

    <%- include('partials/footer') %>